.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  /* begin glassmorphic nav */
  background: #ffffff1a;
  border-radius: 12px;
  border: 1px solid #ffffff20;
  backdrop-filter: blur(16px) saturate(120%);
  /* end  glassmorphic nav*/
}
