.form {
  border: 2px solid gray;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  width: 600px;
  row-gap: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
.field {
  border: 2px solid grey;
  border-radius: 4px;
  padding: 10px;
}
.btn {
    width: 130px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgb(227, 227, 243);
}
.error{
    color: red;
    font-weight: 700;
}
